/*
Orange color: #e67e22

*/


/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: rgb(255, 255, 255);
    color: rgb(3, 1, 1);
    font-family: 'Exo', 'Arial', sans-serif;
    font-weight: 50%;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: inline-block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.col {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    text-align: center;
}


.col2 {
    max-width: 1140px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.col2 img {
    width: 100px;
    height: 100%;
}

.col2 h3 {
    text-transform: capitalize;
    font-weight: 5%;
    font-size: 20px;
    
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.spann-1-of-3:last-child {
    margin-left: 10px;
}

.row-clients {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
}

footer {
    padding-top: 25px;
}

.start-now-section {
    padding: 70px 0;
    background: linear-gradient(to bottom right, #3B92E1, #17529F);
    box-shadow: 0px 2px 16px #999;
}

.startnow-pic {
    height: 20px;
    width: 20px;
}

.startnow-text {
    text-align: center;
}

.startnow-text h3 {
    color: white;
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */ 
    h1 {
    text-transform: uppercase;
    font-weight: 200%;
    margin-top: 0;
    margin-bottom: 2px;
    color: rgb(255, 255, 255);
    font-size: 100%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 5px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 4px;
    padding-top: 30px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
}

h3 {
    text-transform: capitalize;
    font-weight: 50px;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #17529F;
}

header {
    background-image: url(img/kite.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: scroll;
}

.quote {
    text-align: center;
    font-size: 75%;
    color: rgb(255, 255, 255);
    padding-top: 40px;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 500px;
    width: auto;
    float: right;
    padding-bottom: 5px; 
}

.logo-black { 
    height: 50px;
    width: auto;
    float: left;
}

.client-icon{
    height: 60%;
    width: 60%;
    float: left;
    margin: 25px 0;
}

/* Main navi */
.main-nav2 li a:hover,
.main-nav li a:active {
border-bottom: 4px solid #290075;
}

.main-nav2 {
    float: right;
    list-style: none;
}

.main-nav2 li {
    display: inline-block;
    margin-left: 40px;
    font-size: 110%;
}

.main-nav2 li:last-child {
    padding: 10px 30px;
    background-color: #146400;
    display: inline-block;
    border-radius: 500px;
    color: white;
    border-bottom: none;
}


.main-nav2 li a:link,
.main-nav li a:visited {
    padding: 21px 0;
    color: rgb(22, 0, 119);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 90%;
    border-bottom: 4px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav2 li a:hover,
.main-nav li a:active {
border-bottom: 7px solid #17529F;
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 500px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    margin-top: 30px
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: rgb(12, 23, 75);
    margin-right: 15px;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #b1aeae;
}

.clientele{
    text-align: center;
    padding-left: 22%;
}

.vl {
    border-left: 3px solid rgba(189, 189, 189, 0.623);
    height: 300px;
    border-radius: 5px;
  }

  .vl {
    border-left: 3px solid rgba(189, 189, 189, 0.623);
    height: 300px;
    border-radius: 5px;
  }

  .btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    border-radius: 85px;
    font-size: 24px;
    line-height: 1.33;
    background-color: rgb(13, 134, 17); /* Green */
    border: none;
    color: white;
    font-size: 25px;
    margin: 4px 15px;
    float: center;
    text-align: center;
    font-weight: 40%;
    box-shadow: 0 8px 6px -6px rgb(49, 49, 49);
}

.row-misvis {
    max-width: 1140px;
    margin: 25px auto;    
}

.kite {
    height: 50%;
    width: auto;
    float: right;
}

.quote-misvis {
    padding-top: 3%;
    line-height: 145%;
    width: 100%;
    margin-bottom: 4%;
}

.row-abtcore {
    max-width: 1140px;
    margin: 25px auto;
    padding-top: 5%; 
}

.quote-abtcore {
    padding-top: 5%;
    text-align: right;
    float: right;
}

.row-abtcore img {
    width: 40%;
    height: 40%;
}

.abt-clientele {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.abt-clientele h3{
    color: white;
    text-align: center;
    padding-top: 56%;
}

.abt-clientele p{
    color: white;
    text-align: center;
}

.row-start img {
    width: 58%;
    height: 58%;
    margin: 15px auto;
    padding-left: 42%;
}

.nav-section{
    padding: 0px 0;
    background-color: rgb(255, 255, 255);
}
  
  /* The subnavigation menu */
.subnav li {
    display: block;
    padding-left: 85%;
    margin-top: 25px;
    font-size: 19px;

}
  .subnav {
    font-family: inherit;  
    list-style: none;
    float: left;
    position: absolute;
  } 

  .subnav a:hover {
    background-color: #17529F;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .subnav a:active {
    background-color: #17529F;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  .subnav a {
    color: #17529F;
    margin-right: 30px;
    text-decoration: none;
    padding: 5%;
  }

  .btn {
    background-color: rgb(14, 124, 17);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .btn-HIW {
    background-color: rgb(14, 124, 17);
    border-radius: 5px;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 35%;
    margin-top: 3%;
  }

  .row-overview {
    max-width: 1140px;
    margin: 25px auto;
    text-align: center;   
}

.overview-pp {
    text-align: center;
}

.header-HIW{
    text-transform: capitalize;
    font-weight: 50px;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(21, 22, 105);
    text-align: center;
}

.img-HIW{
    text-align: center;
    padding-left: 30%;
}

.clients-logos {
    text-align: center;
}

/**WHYGOADS**/
.whygoads__hero {
    display: flex;
}

.whygoads__content1 {
    flex: 0 1 30%;
    margin-left: 5%;
}

.whygoads__text1 {
    font-weight: 20px;
    color: #76c91c;
}

.whygoads__img1 {
    width: 55%;
    margin-top: 5px;
}

.whygoads__content2 {
    flex: 0 1 20%;
    margin-left: 4%;
    margin-top: 4%;
}

.whygoads__img2 {
    width: 45%;
}

.whygoads__content3 {
    flex: 0 1 35%;
    margin-left: 4%;
    margin-top: 4.4%;
}

.whygoads__img3 {
    width: 25%;
}

.whygoads__content4 {
    flex: 0 1 20%;
    margin-left: 15%;
}

.whygoads__img4 {
    width: 45%;
}

.whygoads__content5 {
    flex: 0 1 30%;
    margin-left: 10px;
}

.whygoads__img5 {
    width: 45%;
}

.Howitworks {
    float: right;
    padding-left: 28%;
    padding-top: 5px;
}

.Howitworks img {
    width: 40%;
    margin-top: 20px; 
}

.Howitworks h4 {
    margin: 15px 0; 
}

.left li {
    margin-left: 5%;
}

.footer-nav {
    float: left;
    text-align: left; 
    padding-left: 20%;
}

.footer-nav1 {
    float: right;
    text-align: left; 
    padding-right: 15%;
}

.footer-nav2 {
    text-align: left; 
    padding-left: 55%;
}

.footer-nav li {
    margin: 25px 0;
    list-style: none;
    text-decoration: none;
}

.footer-nav1 li {
    margin: 25px 0;
    list-style: none;
    text-decoration: none;
}

.footer-nav2 li {
    margin: 25px 0;
    list-style: none;
    text-decoration: none;
}

.logo-black-nav { 
    height: 70px;
    width: auto;
    float: left;
    margin-top: 7%;
    margin-left: 5%;
}